<!DOCTYPE html>   
    @{
        Layout = "~/Views/Shared/Layout.cshtml";
     }
    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript" src="~/Scripts/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="~/Content/jquery.fancybox.css" type="text/css" media="screen" />
			<div class="body">
				<div class="content-home">
					<div>

                        <h3>Fashion Dreamers ! Click to Hit Fashion</h3>
                        <p>
                            So, You dream to be a fashionist. Grab your favourite items here which makes you look more stylish and adorable. Its the place for fashion Dreamers. And Yes, Click To hit FASHION.
						</p>
                        <p></p>
                        <p></p>
                        <p></p>
                        
                        
					</div>
					<div class="featured"> 
                        <div>
                                
                        <script type="text/javascript">
                            $(document).ready(function () {
                                $(".fancybox").fancybox();
                            });
                            </script>         
                        
						<a class="fancybox" rel="group" href="~/images/shoes_logo2.jpg"><img src="~/images/bed.jpg" alt=""></a>                                               
					     </div>
                      </div>
                    </div>
					    <div class="featured">
                         <img src="~/images/xyz.png" alt="">
                        </div>
					</div>
							
		
		